<div id="J_{{viewId}}_nav" class="sub-nav">
  <div class="sub-nav-wrap">
    <div class="menu-icon menu-click"> 
      <i class="semfont cp" mx-click="open()">&#xe615;</i> 
    </div>
    <div class="menu-hold menu-click tc">
      <i class="menu-hold-btn semfont" mx-click="close()" title="固定侧栏">&#xe614;</i>
    </div>
    <ul class="common-menu">
      {{#for(tab in tabs)}}
      <li class="{{tab.key == current ? 'active': ''}}" mx-click="toggleTab('{{tab.key}}')">
        <span class="icon semfont">{{{tab.icon}}}</span>
        <i class="semfont">{{{tab.icon}}}</i>{{tab.label}}
      </li>
      {{/for}}
    </ul>
  </div>
</div>
